extends ../layout

block content
    .container
        a(href="/bicicletas") Volver
        br
        br
        h1 Nueva bicicleta
        br
        form(action="/bicicletas" method="POST")
            label(for="id") ID:
            input#id(type="text" name="id")
            br
            label(for="color") Color:
            input#color(type="text" name="color")
            br
            label(for="modelo") Modelo:
            input#modelo(type="text" name="modelo")
            br
            label(for="lat") Latitud:
            input#lat(type="text" name="lat")
            br
            label(for="lng") Longitud:
            input#lng(type="text" name="lng")
            br
            button.btn.btn-primary(type="submit") Agregar