extends ../layout

block content
    .container
        a(href="/bicicletas") Volver
        br
        br
        h1 Editar bicicleta
        br
        form(action=`/bicicletas/editar/${bici.id}?_method=PUT` method="POST")
            label(for="id") ID:
            input#id(type="text" name="id" value=bici.id)
            br
            label(for="color") Color:
            input#color(type="text" name="color" value=bici.color)
            br
            label(for="modelo") Modelo:
            input#modelo(type="text" name="modelo" value=bici.modelo)
            br
            label(for="lat") Latitud:
            input#lat(type="text" name="lat" value=bici.ubicacion[0])
            br
            label(for="lng") Longitud:
            input#lng(type="text" name="lng" value=bici.ubicacion[1])
            br
            button.btn.btn-primary(type="submit") Editar