extends ../layout

block content
    .container
        a(href="/bicicletas/create") Agregar
        br
        br
        table.table
            thead
                tr
                    th(scope="col") #
                    th(scope="col") Color
                    th(scope="col") Modelo
                    th(scope="col") Ubicacion
                    th(scope="col")
                    th(scope="col")
            tbody
                each bici in bicis
                    tr
                        th(scope="row")= bici.id
                        td= bici.color
                        td= bici.modelo
                        td= bici.ubicacion
                        td
                            a(href=`/bicicletas/editar/${bici.id}`)
                                button.btn.btn-info Editar
                        td
                            form.inline(method="POST" action=`/bicicletas/delete/${bici.id}?_method=DELETE`)
                                button.btn.btn-danger(type="submit") Eliminar